.view.history {
	padding: 0;
}
.view.history table {
	width: 100%;
	font-size: .9rem;
	border-spacing: 0;
	border-collapse: collapse;
}
.view.history th {
	font-weight: 700;
}
.view.history tr:nth-child(odd) td {
	background: #1c1c1c;
}
.view.history th,
.view.history td {
	text-align: center;
	padding: .4rem;
}
.view.history th:first-child,
.view.history td:first-child {
	text-align: left;
}
.view.history th:last-child,
.view.history td:last-child {
	text-align: right;
}
.view.history .refresh {
	display: inline-block;
	vertical-align: middle;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: .6rem;
	opacity: .7;
	background-image: url(../images/cycle.svg);
	background-size: .9rem;
	background-repeat: no-repeat;
	background-position: 50%;
}
