.view.send input[name="address"] {
	font-family: 'Courier';
	letter-spacing: .1rem;
}
.view.send .utxo {
	font-size: .85rem;
	margin-bottom: 1.5rem;
}
.view.send .utxo table {
	width: 100%;
	border: .1rem solid #eee;
}
.view.send .utxo th {
	font-weight: bold;
}
.view.send .utxo th:first-child,
.view.send .utxo td:first-child {
	text-align: left;
}
.view.send .utxo th:last-child,
.view.send .utxo td:last-child {
	text-align: right;
}
.view.send .utxo th,
.view.send .utxo td {
	border-bottom: .1rem solid #eee;
	padding: .4rem;
}
.view.send .utxo tr:last-child td {
	border-bottom: none;
}
.view.send .utxo-empty {
	font-size: 1rem;
	font-style: italic;
	margin-bottom: .5rem;
}
.view.send .button.refresh-utxo {
	display: inline-block;
	vertical-align: top;
	width: 1rem;
	height: 1rem;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1rem;
	background-repeat: no-repeat;
	background-image: url('../images/cycle.svg');
	box-sizing: border-box;
	padding: .8rem 1.1rem;
	margin-top: .6rem;
}
.view.send .button.secondary-control {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 2.4rem;
	background-repeat: no-repeat;
}
.view.send .button.secondary-control.payment {
	background-color: rgba(0,0,255,0.8);
	background-image: url('../images/send-light.svg');
}
.view.send .button.secondary-control.double-spend {
	background-color: rgba(255,0,0,0.8);
	background-image: url('../images/wink-light.svg');
}
.view.send .button.secondary-control.reset {
	background-image: none;
	text-transform: lowercase;
}
.view.send .form-row--amount .form-field.has-1-actions {
	padding-right: 5.6rem;
}
.view.send .form-field-action.select-all {
	width: 5rem;
	line-height: 2rem;
	height: 2rem;
	text-align: center;
	text-transform: lowercase;
	padding: 0 .6rem;
	box-sizing: border-box;
	background-size: initial;
	background-image: none;
}
