.button {
	position: relative;
	display: inline;
	height: auto;
	cursor: pointer;
	color: rgba(0,0,0,.8);
	font-size: .9rem;
	font-weight: 400;
	background-color: #f7f7f7;
	border: none;
	box-sizing: border-box;
	outline: none;
	user-select: none;
	-webkit-user-select: none;
	padding: .5rem;
}
.button.touchstart {
	text-decoration: none;
	background-color: #efefef;
	transform: translate(.075rem,.15rem);
}
.button.disabled {
	cursor: not-allowed;
	pointer-events: none;
	opacity: .3;
}
.button.disabled.touchstart {
	color: rgba(0,0,0,.4);
	background-color: #f7f7f7;
	transform: none;
}
