.form {
}
.form-row {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.form-row + .form-row {
	margin-top: 1rem;
}
.form-group + .form-group {
	margin-top: 1.5rem;
}
.form-label {
	display: block;
	font-size: 1rem;
	margin-bottom: .5rem;
}
.form-field {
	position: relative;
	font-size: 0.9rem;
	padding-right: 0;
}
.form-field-description {
	margin-bottom: 0.5rem;
}
.form-field-buttons .button {
	display: inline-block;
	vertical-align: top;
	padding: .5rem 1rem;
}
.form-input {
	width: 100%;
	height: 2rem;
	font-size: 0.9rem;
	line-height: 2rem;
	box-sizing: border-box;
}

/* Text input */
.form-input[type="text"],
.form-input[type="password"],
.form-input[type="number"] {
	display: block;
	width: 100%;
	color: #444;
	font-size: .9rem;
	border: none;
	border-bottom: .1rem solid #999;
	background: #eee;
	padding: 0 .3rem;
}
.form-input[type="text"]:focus,
.form-input[type="password"]:focus,
.form-input[type="number"]:focus {
	outline: none;
	border-bottom-color: blue;
}
.form-input[type="text"].error,
.form-input[type="password"].error,
.form-input[type="number"].error {
	border-bottom-color: red;
}
.form-input[readonly] {
	opacity: .7;
}
.form-input[readonly]:focus {
	border-bottom-color: #999;
}
/* Text input */

.form-buttons {
	text-align: right;
	margin-top: 2rem;
}
.form-error-message {
	color: red;
	font-size: 0.9rem;
}
.form-field-actions {
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	margin-top: 0;
}
.form-field-action {
	display: inline-block;
	vertical-align: top;
	width: 1.5rem;
	height: 1.5rem;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 1.4rem;
	box-sizing: border-box;
	padding: .9rem 1.2rem;
}
.form-field.has-1-actions { padding-right: 3rem; }
.form-field.has-2-actions { padding-right: 6rem; }
.form-field.has-3-actions { padding-right: 9rem; }
.form-field-action + .form-field-action {
	margin-left: .3rem;
}
.form-field-action.button {
	box-shadow: 0 0.2rem 0.2rem 0 rgba(0,0,0,.14),
				0 0.22rem 0.1rem -0.2rem rgba(0,0,0,.2),
				0 0.1rem 0.4rem 0 rgba(0,0,0,.12);
}
.form-field-action.camera { background-image: url('../images/camera.svg'); }
.form-field-action.cycle {
	background-size: 1rem;
	background-image: url('../images/cycle.svg');
}
.form-description {
	font-size: .9rem;
	margin-bottom: .5rem;
}
.form-switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.form-switch input {
	display:none;
}
.form-switch-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}
.form-switch-slider:before {
	position: absolute;
	content: '';
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #fff;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}
input:checked + .form-switch-slider {
	background-color: #2196F3;
}
input:focus + .form-switch-slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .form-switch-slider:before {
	-webkit-transform: translateX(26px);
	transform: translateX(26px);
}
