#header {
	position: absolute;
	z-index: 100;
	display: none;
	vertical-align: top;
	width: 100%;
	height: 3.6rem;
	background: #f7f7f7;
	box-sizing: border-box;
	padding: 0;
}
html.loaded #header {
	display: inline-block;
}
.header-button {
	position: relative;
	z-index: 20;
	float: left;
	display: block;
	width: 3.6rem;
	height: 100%;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 2.2rem;
	box-sizing: border-box;
	cursor: pointer;
}
.header-button.active,
.header-button.touchstart {
	background-color: #e6e6e6;
}
.header-button.configure { background-image: url('../images/configure.svg'); }
.header-button.debug {
	background-image: url('../images/question.svg');
	background-size: 1.2rem;
}
.header-button.receive { background-image: url('../images/receive.svg'); }
.header-button.send { background-image: url('../images/send.svg'); }
.header-button.history { background-image: url('../images/history.svg'); }
.header-button.receive,
.header-button.send,
.header-button.history {
	/*
		Hide these buttons by default.
	*/
	display: none;
}
html.configured .header-button.receive,
html.configured .header-button.send,
html.configured .header-button.history {
	/*
		Show these buttons when the app is configured.
	*/
	display: block;
}

.header-button.configure,
.header-button.debug {
	float: right;
}
