.secondary-controls {
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 5;
	width: 100%;
	height: 4.4rem;
	line-height: 3.2rem;
	background: #fff;
	box-shadow: 0 2rem 2rem 2rem #fff;
	box-sizing: border-box;
	padding: .6rem;
}
.secondary-control {
	float: left;
	height: 100%;
	font-size: 1.1rem;
	text-align: center;
	box-sizing: border-box;
	padding: 0;
}
.secondary-control.touchstart {
	text-decoration: none;
}
.secondary-control + .secondary-control {
	border-left: none;
	margin-left: 1%;
}
/* one item */
.secondary-control:first-child:nth-last-child(1) {
	width: 100%;
}
/* two items */
.secondary-control:first-child:nth-last-child(2),
.secondary-control:first-child:nth-last-child(2) ~ .secondary-control {
	width: 49.5%;
}
/* three items */
.secondary-control:first-child:nth-last-child(3),
.secondary-control:first-child:nth-last-child(3) ~ .secondary-control {
	width: 32.6666%;
}
/* four items */
.secondary-control:first-child:nth-last-child(4),
.secondary-control:first-child:nth-last-child(4) ~ .secondary-control {
	width: 24.25%;
}
.button.secondary-control {
	position: relative;
	background-color: rgba(180,180,180,.8);
}
.button.secondary-control:before {
	content: ' ';
	display: inline-block;
	vertical-align: top;
	width: 2.4rem;
	height: 100%;
	background-position: center;
	background-size: 2.4rem;
	background-repeat: no-repeat;
	background-color: transparent;
	opacity: .5;
	margin: 0;
}
.button.secondary-control.disabled:before {
	opacity: .25;
}
.button.secondary-control.has-text:before {
	margin-right: 1.2rem;
}
.secondary-control.has-text:first-child:nth-last-child(3):before,
.secondary-control:first-child:nth-last-child(3) ~ .secondary-control.has-text:before {
	margin-right: .5rem;
}
.secondary-control.has-text:first-child:nth-last-child(4):before,
.secondary-control:first-child:nth-last-child(4) ~ .secondary-control.has-text:before {
	margin-right: .4rem;
}
.button.secondary-control.continue:before {
	background-image: url('../images/continue.svg');
}
.button.secondary-control.copy-to-clipboard:before {
	background-image: url('../images/copy.svg');
}
.button.secondary-control.accept:before,
.button.secondary-control.done:before,
.button.secondary-control.submit:before {
	background-image: url('../images/checkmark.svg');
}
.button.secondary-control.cancel:before,
.button.secondary-control.close:before,
.button.secondary-control.reject:before {
	background-image: url('../images/cancel.svg');
}
.button.secondary-control.zero:before {
	background-image: url('../images/zero.svg');
}
.button.secondary-control.back.touchstart {
	background-color: rgba(200,200,200,0.6);
}
.button.secondary-control.back {
	background-color: rgba(255,153,0,0.8);
}
.button.secondary-control.back.touchstart {
	background-color: rgba(255,153,0,0.7);
}
.button.secondary-control.accept,
.button.secondary-control.continue,
.button.secondary-control.submit,
.button.secondary-control.done {
	background-color: rgba(0,128,0,0.6);
}
.button.secondary-control.accept.touchstart,
.button.secondary-control.continue.touchstart,
.button.secondary-control.submit.touchstart {
	background-color: rgba(0,128,0,0.5);
}
.button.secondary-control.cancel,
.button.secondary-control.reject {
	background-color: rgba(255,0,0,0.6);
}
.button.secondary-control.cancel.touchstart,
.button.secondary-control.reject.touchstart {
	background-color: rgba(255,0,0,0.5);
}
.secondary-control .timer {
	position: relative;
	left: -2.25rem;
	top: 0;
	display: none;
}
.secondary-control .timer.active {
	display: inline;
}
.button.secondary-control.has-active-timer:before {
	opacity: .4;
}
