<!DOCTYPE html>
<html class="no-js theme-dark">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= info.name %></title>
<% if (target === 'dev') { %>
	<link href="css/all.css" rel="stylesheet">
<% } else { %>
	<link href="css/all.min.css" rel="stylesheet">
<% } %>
	<!-- favicon -->
	<link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="images/favicon/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="images/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="images/favicon/favicon-196x196.png" sizes="196x196">
	<link rel="icon" type="image/png" href="images/favicon/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="images/favicon/favicon-128.png" sizes="128x128">
	<meta name="application-name" content="&nbsp;">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
	<meta name="msapplication-square70x70logo" content="images/favicon/mstile-70x70.png">
	<meta name="msapplication-square150x150logo" content="images/favicon/mstile-150x150.png">
	<meta name="msapplication-wide310x150logo" content="images/favicon/mstile-310x150.png">
	<meta name="msapplication-square310x310logo" content="images/favicon/mstile-310x310.png">
</head>
<body>

	<div id="cover">
		<div id="cover-image"></div>
		<div id="cover-text"></div>
	</div>
	<div id="header">
		<a class="header-button receive" href="#receive"></a>
		<a class="header-button send" href="#send"></a>
		<a class="header-button configure" href="#configure"></a>
	</div>
	<div id="view">
		<div id="view-content"></div>
	</div>
	<div id="message">
		<div id="message-inner">
			<div id="message-content"></div>
		</div>
	</div>

	<noscript>
		<!-- This language string is hard-coded because handlebars requires JavaScript. -->
		<p class="page-description">This app requires JavaScript to function.</p>
	</noscript>

	<script type="text/html" id="template-configure">
		<h2 class="page-title">{{i18n "configure.title"}}</h2>
		<div class="form">
			<form>
		{{#each inputs}}
			{{> formFieldRow .}}
		{{/each}}
			</form>
	</script>

	<script type="text/html" id="template-receive">
		<h2 class="page-title">{{i18n "receive.title"}}</h2>
		<div class="address">
			<div class="address-qrcode"></div>
			<div class="address-text"></div>
		</div>
		<div class="secondary-controls">
			<a class="secondary-control button copy-to-clipboard">Copy to clipboard</a>
		</div>
	</script>

	<script type="text/html" id="template-send">
		<div class="scoreboard"></div>
		<div class="utxo"></div>
		<div class="form">
			<form>
		{{#each inputs}}
			{{> formFieldRow .}}
		{{/each}}
			</form>
		</div>
		<div class="secondary-controls">
			<a class="secondary-control button payment disabled"></a>
			<a class="secondary-control button double-spend disabled"></a>
			<a class="secondary-control button reset disabled">{{i18n "send.reset"}}</a>
		</div>
	</script>

	<script type="text/html" id="template-send-scoreboard">
		<table>
			<thead>
				<tr>
					<th class="scoreboard-1st payments" colspan="2">{{i18n "send.scoreboard.payments"}}</th>
					<th class="scoreboard-1st double-spends" colspan="2">{{i18n "send.scoreboard.double-spends"}}</th>
				</tr>
				<tr>
					<th class="scoreboard-2nd payments accepted">{{i18n "send.scoreboard.accepted"}}</th>
					<th class="scoreboard-2nd payments confirmed">{{i18n "send.scoreboard.confirmed"}}</th>
					<th class="scoreboard-2nd double-spends accepted">{{i18n "send.scoreboard.accepted"}}</th>
					<th class="scoreboard-2nd double-spends confirmed">{{i18n "send.scoreboard.confirmed"}}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="scoreboard-3rd payments accepted">{{payments.accepted}}</td>
					<td class="scoreboard-3rd payments confirmed">{{payments.confirmed}}</td>
					<td class="scoreboard-3rd double-spends accepted">{{doubleSpends.accepted}}</td>
					<td class="scoreboard-3rd double-spends confirmed">{{doubleSpends.confirmed}}</td>
				</tr>
			</tbody>
		</table>
	</script>

	<script type="text/html" id="template-send-utxo">
		{{#if utxo}}
		<table>
			<thead>
				<tr>
					<th>{{i18n "send.utxo.txid"}}</th>
					<th>{{i18n "send.utxo.amount"}}</th>
				</tr>
			</thead>
			<tbody>
				{{#each utxo}}
				<tr>
					<td><a href="{{url}}">{{txid}}</a></td>
					<td>{{amount}}</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
		{{else}}
		<p class="utxo-empty">{{i18n "send.utxo.empty"}}</p>
		{{/if}}
		<a class="button refresh-utxo"></a>
	</script>

	<script type="text/html" id="template-form-field">
		{{#switch type}}
			{{#case "select" break=true}}
			<select class="form-input" id="{{id}}" name="{{name}}">
				{{#each options}}
				<option{{#if selected}} selected{{/if}}{{#if disabled}} disabled{{/if}}{{#if key}} value="{{key}}"{{/if}}>{{label}}</option>
				{{/each}}
			</select>
			{{/case}}
			{{#case "checkbox" break=true}}
			<label class="form-switch" for="{{id}}">
				<input type="checkbox" name="{{name}}" id="{{id}}"{{#if value}} checked{{/if}} value="1">
				<span class="form-switch-slider"></span>
			</label>
			{{/case}}
			{{#case "number" break=true}}
			<input class="form-input" type="number"{{#if min includeZero=true}} min="{{min}}"{{/if}}{{#if step}} step="{{step}}"{{/if}} id="{{id}}" name="{{name}}" value="{{value}}"{{#if readonly}} readonly{{/if}}{{#if disabled}} disabled{{/if}}>
			{{/case}}
			{{#case "integer" break=true}}
			<input class="form-input" type="number"{{#if min includeZero=true}} min="{{min}}"{{/if}} step="1" id="{{id}}" name="{{name}}" value="{{value}}"{{#if readonly}} readonly{{/if}}{{#if disabled}} disabled{{/if}}>
			{{/case}}
			{{#case "password" break=true}}
			<input class="form-input" type="password" id="{{id}}" name="{{name}}" value="{{value}}"{{#if readonly}} readonly{{/if}}{{#if disabled}} disabled{{/if}}>
			{{/case}}
			{{#default}}
			<input class="form-input" type="text" id="{{id}}" name="{{name}}" value="{{value}}"{{#if readonly}} readonly{{/if}}{{#if disabled}} disabled{{/if}}>
			{{/default}}
		{{/switch}}
			<div class="form-error"></div>
		{{#if actions}}
			<div class="form-field-actions">
			{{#each actions}}
				<a class="form-field-action button {{name}}" data-action="{{name}}" data-input="{{../name}}">{{label}}</a>
			{{/each}}
			</div>
		{{/if}}
	</script>

	<script type="text/html" id="template-form-field-row">
	{{#if visible}}
		<div class="form-row form-row--{{name}} form-row-key--{{key}}">
			<div class="form-label">
				<label for="{{id}}">{{label}}</label>
			</div>{{#if description}}
			<div class="form-description">{{description}}</div>{{/if}}
			<div class="form-field id-{{id}} has-{{actions.length}}-actions">
				{{> formField .}}
			</div>
		</div>
	{{/if}}
	</script>

	<script type="text/html" id="template-disclaimers">
		<h2 class="page-title">{{i18n "disclaimers.title"}}</h2>
		<ul>
			<li>{{i18n "disclaimers.1"}}</li>
			<li>{{i18n "disclaimers.2"}}</li>
			<li>{{i18n "disclaimers.3"}}</li>
		</ul>
		<div class="secondary-controls">
			<a class="secondary-control button accept"></a>
		</div>
	</script>

	<script type="text/json" id="json-info"><%= JSON.stringify(info) %></script>
	<script src="cordova.js"></script>
<% if (target === 'dev') { %>
	<script src="js/all.js"></script>
<% } else { %>
	<script src="js/all.min.js"></script>
<% } %>

</body>
</html>